.error {
  background-image: url("https://res.cloudinary.com/dixb52be9/image/upload/v1643740271/c8d50e648631eb60535305d2da3ceb2a_otu23q.gif");
  background-size: cover;
  background-position: center;
}
