@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.App-main {
  display: flex;
  min-height: 90vh;
  flex-grow: 1;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.specialNumber strong {
  color: $lightblue;
}

.App {
  text-align: center;
}

body {
  background-color: $background;
}
